<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.ralphpina.permissionsmanager.android">

    <application
            android:label="@string/app_name"
            android:supportsRtl="true">
        <activity
                android:name=".PermissionsRequestActivity"
                android:launchMode="singleTop"
                android:theme="@style/Theme.AppCompat.Translucent"/>
    </application>

</manifest>
